<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <link rel="icon" type="image/x-icon" th:href="@{/img/favicon.ico}">
    <!-- These meta tags come first. -->
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>登录</title>

    <!-- Include the CSS -->
    <link th:href="@{/css/antd.css}" rel="stylesheet">
    <link th:href="@{/css/toolkit-inverse.css}" rel="stylesheet">
    <style>
        /*web background*/
        .container{
            display:table;
            height:50%;
        }

        .row{
            display: table-cell;
            vertical-align: middle;
        }

        /* centered columns styles */
        .row-centered {
            text-align:center;
        }

        .col-centered {
            display:block;
            float:none;
            text-align:left;
            margin-right:auto;
            margin-left: auto;
        }

        .sub {
            z-index: 1;
        }

        .up {
            z-index: 10;
        }
    </style>
</head>
<body>
<canvas id="Mycanvas" class="sub position-absolute"></canvas>
<div class="container up position-absolute">
    <div class="offset-md-5">
        <div class="row row-centered">
            <div class="well col-md-7 col-centered">
                <img th:src="@{/img/ahza-white.png}" src="../static/img/ahza-white.png" class="card-img-top">
                <form action="/login" method="post" role="form">
                    <h3>账户密码登录</h3>
                    <div th:if="${msg == null}">
                        <div class="input-group form-group">
                            <div class="input-with-icon col-md-12">
                                <input type="text" class="form-control" id="usernameSuccess" name="username" placeholder="请输入账户名"/>
                                <span class="icon icon-user">&raquo;</span>
                            </div>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-with-icon col-md-12">
                                <input type="password" class="form-control" id="passwordSuccess" name="password" placeholder="请输入密码"/>
                                <span aria-hidden="true" class="icon icon-lock">&raquo;</span>
                            </div>
                        </div>
                    </div>

                    <div th:if="${msg != null}">
                        <div class="input-group form-group">
                            <div class="input-with-icon col-md-12">
                                <input type="text" class="form-control border-danger" id="usernameFail" name="username" placeholder="请输入账户名"/>
                                <span class="icon icon-user">&raquo;</span>
                            </div>
                        </div>

                        <div class="input-group form-group">
                            <div class="input-with-icon col-md-12">
                                <input type="password" class="form-control border-danger" id="password" name="password" placeholder="请输入密码"/>
                                <span aria-hidden="true" class="icon icon-lock">&raquo;</span>
                            </div>
                        </div>
                    </div>
                    <div class="container form-group">
                        <div class="btn-group-toggle float-left" data-toggle="buttons">
                            <label class="btn btn-sm btn-primary">
                                <input id="autoLogin" name="autoLogin" value="autoLogin" type="checkbox" autocomplete="off"> 自动登录
                            </label>
                        </div>
                    </div>
                    <div class="input-group form-group container">
                        <button type="submit" class="btn btn-primary col-md-12">登录</button>
                    </div>
                </form>
                <div class="form-group form-inline container">
                    <button onclick="window.location.href='/goRegister'" class="btn btn-link float-right">注册用户</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    //定义画布宽高和生成点的个数
    var WIDTH = window.innerWidth, HEIGHT = window.innerHeight, POINT = 35;

    var canvas = document.getElementById('Mycanvas');
    canvas.width = WIDTH,
        canvas.height = HEIGHT;
    var context = canvas.getContext('2d');
    context.strokeStyle = 'rgba(255,255,255,0.02)',
        context.strokeWidth = 1,
        context.fillStyle = 'rgba(255,255,255,0.05)';
    var circleArr = [];

    //线条：开始xy坐标，结束xy坐标，线条透明度
    function Line (x, y, _x, _y, o) {
        this.beginX = x,
            this.beginY = y,
            this.closeX = _x,
            this.closeY = _y,
            this.o = o;
    }
    //点：圆心xy坐标，半径，每帧移动xy的距离
    function Circle (x, y, r, moveX, moveY) {
        this.x = x,
            this.y = y,
            this.r = r,
            this.moveX = moveX,
            this.moveY = moveY;
    }
    //生成max和min之间的随机数
    function num (max, _min) {
        var min = arguments[1] || 0;
        return Math.floor(Math.random()*(max-min+1)+min);
    }
    // 绘制原点
    function drawCricle (cxt, x, y, r, moveX, moveY) {
        var circle = new Circle(x, y, r, moveX, moveY)
        cxt.beginPath()
        cxt.arc(circle.x, circle.y, circle.r, 0, 2*Math.PI)
        cxt.closePath()
        cxt.fill();
        return circle;
    }
    //绘制线条
    function drawLine (cxt, x, y, _x, _y, o) {
        var line = new Line(x, y, _x, _y, o)
        cxt.beginPath()
        cxt.strokeStyle = 'rgba(33,33,33,'+ o +')'
        cxt.moveTo(line.beginX, line.beginY)
        cxt.lineTo(line.closeX, line.closeY)
        cxt.closePath()
        cxt.stroke();

    }
    //初始化生成原点
    function init () {
        circleArr = [];
        for (var i = 0; i < POINT; i++) {
            circleArr.push(drawCricle(context, num(WIDTH), num(HEIGHT), num(15, 2), num(10, -10)/40, num(10, -10)/40));
        }
        draw();
    }

    //每帧绘制
    function draw () {
        context.clearRect(0,0,canvas.width, canvas.height);
        for (var i = 0; i < POINT; i++) {
            drawCricle(context, circleArr[i].x, circleArr[i].y, circleArr[i].r);
        }
        for (var i = 0; i < POINT; i++) {
            for (var j = 0; j < POINT; j++) {
                if (i + j < POINT) {
                    var A = Math.abs(circleArr[i+j].x - circleArr[i].x),
                        B = Math.abs(circleArr[i+j].y - circleArr[i].y);
                    var lineLength = Math.sqrt(A*A + B*B);
                    var C = 1/lineLength*7-0.009;
                    var lineOpacity = C > 0.03 ? 0.03 : C;
                    if (lineOpacity > 0) {
                        drawLine(context, circleArr[i].x, circleArr[i].y, circleArr[i+j].x, circleArr[i+j].y, lineOpacity);
                    }
                }
            }
        }
    }

    //调用执行
    window.onload = function () {
        init();
        setInterval(function () {
            for (var i = 0; i < POINT; i++) {
                var cir = circleArr[i];
                cir.x += cir.moveX;
                cir.y += cir.moveY;
                if (cir.x > WIDTH) cir.x = 0;
                else if (cir.x < 0) cir.x = WIDTH;
                if (cir.y > HEIGHT) cir.y = 0;
                else if (cir.y < 0) cir.y = HEIGHT;

            }
            draw();
        }, 16);
    }

</script>
<script th:src="@{/js/jquery-3.3.1.js}"></script>
<script th:src="@{/js/popper.js}"></script>
<script th:src="@{/js/toolkit.js}"></script>
<script th:src="@{/js/component.js}"></script>
<script th:src="@{/js/antd.js}"></script>
</body>
</html>